@media screen and (max-width: 475px) {
    .box {
        margin: 0px auto;
        width: 316px;
    }
    .img2 {
        display: inline-block;
    }
    .home__contant-img {
        width: 100%;
    }
    .home__contant-header-right,
    .home__header,
    .img1 {
        display: none;
    }
    .all {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    .home__contant-header {
        padding: 0;
        margin: 0 0 35px 0;
        flex-direction: column;
        align-items: start;
    }
    .home__contant-header-left {
        line-height: 58px;
        font-size: 47px;
        margin-bottom: 20px;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        /* display: block; */
    }
    .line {
        width: 100%;
        border: solid 2px black;
    }
    .skills__body {
        display: block;
    }
    .item {
        margin-bottom: 80px;
    }
    .portfplio__body {
        width: 316px;
    }
    .contacts__btn {
        width: 316px;
    }
    .contacts__icons {
        width: 315px;
    }
    .phoneMenu {
        padding: 50px 30px;
        width: 100vw;
        height: 100vh;
        background: rgb(255, 255, 255);
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
    }

    .right-menu {
    }
    .list {
        font-size: 34px;
        line-height: 42px;
        padding-bottom: 40px;
    }
    .item-menu {
    }
    .left-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .close {
        padding-top: 30px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }
    .close span {
        width: 30px;
        border: solid 2px black;
    }
    .close span:first-child {
        transform: rotate(45deg);
    }
    .close span:last-child {
        transform: rotate(-45deg);
    }
    .menu-lang {
        display: block;
        text-transform: uppercase;
        cursor: pointer;
        font-family: Gilroy-Bold;
        font-size: 34px;
        margin-right: -90px;
        color: #998383;
        transform: rotate(90deg);
        /* margin-bottom: 30px; */
        /* margin-right: -25px; */
    }
    .hidden {
        display: none;
    }
}
